# Archivos de compilación de Java
*.class
*.jar
*.war
*.ear
bin/
build/
dist/

# Configuración específica y personal de NetBeans
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

# Archivos temporales de sistema
Thumbs.db
.DS_Store

# Reportes de logs y errores
*.log
/target/
